<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AxobisConnectionMain" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BarcodeGenerator;User ID=db;Password=12345"/>
		<!--<add name="AxobisConnectionMain" connectionString="Data Source=BHAGATH\SQLEXPRESS;Initial Catalog=BarcodeGenerator;User ID=sa;Password=a"/>-->
	</connectionStrings>
	<appSettings>
		<add key="GetExcelConnection" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
	</appSettings>
</configuration>
